<h1 id="welcome-heading">Welcome to CSE Motors!</h1>

<%- messages() %>

<section id="featured-vehicle" aria-label="Featured Vehicle">
  <div class="feature-content">
    <picture class="background">
      <source media="(max-width: 420px)" srcset="/images/vehicles/delorean-tn.jpg">
      <img src="/images/vehicles/delorean.jpg" alt="DMC Delorean car">
    </picture>

    <div class="overlay-content">
      <div class="overlay-content-text">
        <h2>DMC Delorean</h2>
        <ul>
          <li>3 Cup holders</li>
          <li>Superman doors</li>
          <li>Fuzzy dice!</li>
        </ul>
      </div>  
      <a id="overlay-content-button" href="#">
        <img src="../images/site/own_today.png" alt="Click here to own a Delorean today">
      </a>
    </div>
  </div>
</section>

<div id="upgrade-and-review-container">
  <section id="upgrade-section" aria-label="Delorean Upgrades">
    <h2>Delorean Upgrades</h2>
    <ul id="upgrade-grid">
      <li class="upgrade-grid-item">
        <figure>
          <img src="../images/upgrades/flux-cap.png" alt="Flux Capacitor Clipart">
        </figure>
        <p class="grid-item-caption"><a href="#">Flux Capacitor</a></p>
      </li>
      <li class="upgrade-grid-item">
        <figure>
          <img src="../images/upgrades/flame.jpg" alt="Flame Clipart">
        </figure>
        <p class="grid-item-caption"><a href="#">Flame Decals</a></p>
      </li>
      <li class="upgrade-grid-item">
        <figure>
          <img src="../images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker on white car">
        </figure>
        <p class="grid-item-caption"><a href="#">Bumper Stickers</a></p>
      </li>
      <li class="upgrade-grid-item">
        <figure>
          <img src="../images/upgrades/hub-cap.jpg" alt="Steel Hubcap">
        </figure>
        <p class="grid-item-caption"><a href="#">Steel Hubcaps</a></p>
      </li>
    </ul>
  </section>

  <section id="review-section" aria-label="Customer Reviews">
    <h2>DMC Delorean Reviews</h2>
    <ul>
      <li>"So fast it's almost like traveling in time." (4/5)</li>
      <li>"Coolest ride on the road." (4/5)</li>
      <li>"I'm feeling McFly!" (5/5)</li>
      <li>"The most futuristic ride of our day." (4.5/5)</li>
      <li>"80's livin and I love it" (5/5)</li>
    </ul>
  </section>
</div>