<header>
  <h1>Welcome to CSE Motors!</h1>
</header>
<main>
  <section aria-label="Featured Vehicle">
    <article>
      <h2>DMC Delorean</h2>
      <ul>
        <li>3 Cup holders</li>
        <li>Superman doors</li>
        <li>Fuzzy dice!</li>
      </ul>
      <a href="#">
        <img src="../images/site/own_today.png" alt="Click here to own a Delorean today"/>
      </a>
    </article>
    <picture>
      <source media="(max-width: 420px)" srcset="/images/vehicles/delorean-tn.jpg" />
      <img src="/images/vehicles/delorean.jpg" alt="DMC Delorean car"/>
    </picture>
  </section>

  <section aria-label="Delorean Upgrades">
    <h2>Delorean Upgrades</h2>
    <ul>
      <li>
        <figure>
          <img src="../images/upgrades/flux-cap.png" alt="Flux Capacitor Clipart"/>
          <figcaption><a href="#">Flux Capacitor</a></figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <img src="../images/upgrades/flame.jpg" alt="Flame Clipart"/>
          <figcaption><a href="#">Flame Decals</a></figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <img src="../images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker on white car"/>
          <figcaption><a href="#">Bumper Stickers</a></figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <img src="../images/upgrades/hub-cap.jpg" alt="Steel Hubcap"/>
          <figcaption><a href="#">Hub Caps</a></figcaption>
        </figure>
      </li>
    </ul>
  </section>

  <section aria-label="Customer Reviews">
    <h2>DMC Delorean Reviews</h2>
    <ul>
      <li>"So fast it's almost like traveling in time." (4/5)</li>
      <li>"Coolest ride on the road." (4/5)</li>
      <li>"I'm feeling McFly!" (5/5)</li>
      <li>"The most futuristic ride of our day." (4.5/5)</li>
      <li>"80's livin and I love it" (5/5)</li>
    </ul>
  </section>
</main>