<!--
    The following EJS template code checks if a 'title' variable is present.
    - If 'title' exists, it renders it inside an <h1> tag.
    - If 'title' is not present, it attempts to redirect the user to the homepage ('/').
-->

<% if (title) { %>
<h1 id="management-page-title"><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<!-- 
    This line is an EJS (Embedded JavaScript) comment that renders flash messages or notifications to the user interface.
-->

<%- messages() %>

<div id="management-page-content">
    <a href="/inv/add-classification" class="management-link">Add New Classification</a>
    <a href="/inv/add-inventory" class="management-link">Add New Vehicle</a>
</div>