<!--
    The following EJS template code checks if a 'title' variable is present.
    - If 'title' exists, it renders it inside an <h1> tag.
    - If 'title' is not present, it attempts to redirect the user to the homepage ('/').
-->

<% if (title) { %>
<h1 class="inv-management-titles"><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<!-- 
    This line is an EJS (Embedded JavaScript) comment that renders flash messages or notifications to the user interface.
-->

<%- messages() %>

<div id="management-page-content">
    <a href="/inv/add-classification" class="management-link">Add New Classification</a>
    <a href="/inv/add-inventory" class="management-link">Add New Vehicle</a>
    
    <div id="inventory-management">
        <h2>Manage Inventory</h2>
        <p>Select a classification from the list to see the items belongng to the classification</p>
        <%- classificationSelect %>
        <table id="inventoryDisplay"></table>
        <noscript>JavaScript must be enabled to use this page.</noscript>
        <script src="../../js/inventory.js"></script>
    </div>
</div>