<!--
    The following EJS template code checks if a 'title' variable is present.
    - If 'title' exists, it renders it inside an <h1> tag.
    - If 'title' is not present, it attempts to redirect the user to the homepage ('/').
-->

<% if (title) { %>
<h1 class="repairs-titles"><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<!-- 
    This line is an EJS (Embedded JavaScript) comment that renders flash messages or notifications to the user interface.
-->

<%- messages() %>

<!-- 
    The following EJS code checks if there are any validation errors.
    If there are errors, it creates an unordered list with the class "notice" and iterates over each error,
    displaying the error message in a list item.
-->
    
<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(function(error) { %>
            <% if (error.msg !== "Invalid value") { %>
                <li><%= error.msg %></li>
            <% } %>
        <% }) %>
    </ul>
<% } %>

 <%- repairList %>